@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap')
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap')

@import 'config'

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  width: 100%
  height: 100vh
  background: $main-bg
  font-family: 'Lato', 'sans-serif'
  transition: background.5s ease-out
  &.dark
    $main-bg: #1e1e20
    $text-normal: hsla(0,0%,100%,0.88)
    background: $main-bg
    color: $text-normal
    .movie-card
      background: $nav-bg
    .search
      border: none

  .wrapper
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center


  @media all and (max-width: 768px)
    .nav
      .container
        width: 95%
    .content-wrapper
      width: 100%
      .searchbar
        width: 90%
      .search-icon
        left: 5%
      .banner
        width: 90%
      .movie-list
        grid-template-columns: repeat(2, 1fr)
      .details
        height: 100%
        padding: 0
      .details-wrapper
        height: 100%
        flex-direction: column
        align-items: center
      .poster
        height: 50%
        img
          height: 50%
          width: 20%
          margin: 0
      .context
        padding: 1.5rem 0
        height: 40%
        width: 18rem
        display: flex
        flex-direction: column
        align-items: center
        p
          width: 18rem
      button
        margin: 0
        height: 10%
